@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--neutral-charcoal-grey);
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--neutral-charcoal-grey);
}

:root {
  --primary-tomato: hsl(4, 100%, 67%);
  --neutral-dark-slate-grey: hsl(234, 29%, 20%);
  --neutral-charcoal-grey: hsl(235, 18%, 26%);
  --neutral-grey: rgb(146, 148, 160);
  --neutral-white: hsl(0, 0%, 100%);
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background: var(--neutral-charcoal-grey);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: var(--neutral-white);
}

/* Custom styling */

/* Sign up form */
.img-container img {
  width: 100%;
}

.container-main p {
  margin: 2.4rem 0;
}

ul {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 1rem 1.6rem;
}

li {
  list-style: none;
}

label {
  display: block;
}

input {
  width: 100%;
  height: 5.6rem;
  padding-left: 6.4vw;
  border-radius: 0.8rem;
  border: 1px solid rgba(146, 148, 160, 25%);
}

button {
  width: 100%;
  height: 5.6rem;
  border: none;
  background-color: var(--neutral-dark-slate-grey);
  color: var(--neutral-white);
  border-radius: 0.8rem;
}

button:hover {
  cursor: pointer;
}

button:active {
  background: linear-gradient(#ff6a3a, #ff527b);
  filter: drop-shadow(0 1.6rem 3.2rem rgba(255, 97, 85, 50%));
}

form {
  display: grid;
  gap: 2.4rem;
}

.user-input {
  display: grid;
  gap: 0.8rem;
}

/* Success */
.success {
  display: grid;
  gap: 26.3rem;
  padding: 0 2.4rem 4rem;
}

.success-feedback {
  display: grid;
  gap: 4rem;
  margin-top: 14.9rem;
}

.success-text {
  display: grid;
  gap: 2.4rem;
}

/* Utility Classes */
.hidden {
  display: none;
}

.container-main {
  padding: 4rem 6.4vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heading-lg {
  font-size: 4rem;
}

.text-base {
  font-size: 1.6rem;
  line-height: 150%;
}

.text-base-bold {
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: 700;
}

.text-sm {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 150%;
}

@media screen and (min-width: 47.6em) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    background-color: var(--neutral-white);
    width: 64.444%;
  }

  /* Custom Styling */
  .img-container img {
    width: 43.103%;
    margin: 1.667vw 1.667vw 1.667vw 0;
    border-radius: 3.2rem;
    display: inline;
    float: right;
  }

  .container-main p {
    margin: 1.667vw 0;
  }

  ul {
    gap: 0.694vw 1.111vw;
  }

  ul img {
    width: 1.458vw;
    height: 1.458vw;
  }

  input {
    padding-left: 1.667vw;
  }

  input,
  button {
    height: 3.889vw;
  }

  form {
    gap: 1.667vw;
  }

  .user-input {
    gap: 0.556vw;
  }

  .success {
    padding: 3.333vw 4.444vw;
    gap: 4rem;
  }

  .success-feedback {
    margin: 0;
  }

  /* Utility Classes */
  .card {
    border-radius: 3.6rem;
  }

  .container-main {
    padding: 6.736vw 4.444vw;
    gap: 1.389vw;
  }

  .heading-lg {
    font-size: 3.889vw;
  }

  .text-base {
    font-size: 1.111vw;
  }

  .text-base-bold {
    font-size: 1.111vw;
  }

  .text-sm {
    font-size: 0.833vw;
  }
}
