@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-tomato: hsl(4, 100%, 67%);
  --neutral-dark-slate-grey: hsl(234, 29%, 20%);
  --neutral-charcoal-grey: hsl(235, 18%, 26%);
  --neutral-grey: hsl(231, 7%, 60%);
  --neutral-white: hsl(0, 0%, 100%);
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background: var(--neutral-charcoal-grey);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: var(--neutral-white);
  width: 100%;
  min-height: inherit;
}

/* Main image */
.img-container img {
  width: 100%;
}

/* Utility Classes */

@media screen and (min-width: 47.6em) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    background-color: var(--neutral-white);
    width: 64.444%;
    min-height: 44.514vw;
  }

  /* Main image */
  .img-container img {
    width: 43.103%;
    margin: 1.667vw;
    border-radius: 3.2rem;
    display: inline;
    float: right;
  }

  /* Utility Classes */
  .card {
    border-radius: 3.6rem;
  }
}
